@font-face {
  font-family: "iconfont"; /* Project id 2759421 */
  src: url('iconfont.woff2?t=1629790170351') format('woff2'),
       url('iconfont.woff?t=1629790170351') format('woff'),
       url('iconfont.ttf?t=1629790170351') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaxun:before {
  content: "\e602";
}

.icon-outline:before {
  content: "\e86a";
}

.icon-close5:before {
  content: "\e605";
}

.icon-sun:before {
  content: "\e6cf";
}

.icon-dark:before {
  content: "\e600";
}

.icon-px-zhidingpxed-f-e--copy:before {
  content: "\e8c8";
}

.icon-toggle:before {
  content: "\e67c";
}

.icon-website:before {
  content: "\e633";
}

.icon-timeline-copy:before {
  content: "\e8c7";
}

.icon-project1:before {
  content: "\e601";
}

.icon-game:before {
  content: "\e60b";
}

.icon-app:before {
  content: "\e6e1";
}

.icon-article:before {
  content: "\e728";
}

.icon-xuanzhongshangcheng:before {
  content: "\e604";
}

